<!-- local -->
<configuration>
    <property name="DEFAULT_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{X-B3-TraceId}] [%X{X-B3-SpanId}] [trade] [%logger{0}] - %msg%n"/>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${DEFAULT_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 按照每天生成日志文件 -->
    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/work/logs/trade/sys.log</File>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
            <!--<OnMismatch>DENY</OnMismatch>-->
            <!--<OnMatch>ACCEPT</OnMatch>-->
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <fileNamePattern>/work/logs/trade/sys_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${DEFAULT_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 资产日志 -->
    <appender name="asset" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/work/logs/trade/asset.log</File>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <!--<OnMismatch>DENY</OnMismatch>-->
            <!--<OnMatch>ACCEPT</OnMatch>-->
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <fileNamePattern>/work/logs/trade/asset_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${DEFAULT_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="trade" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>tsCode</key>
            <defaultValue>default</defaultValue>
        </discriminator>
        <sift>
            <!--具体的写日志appender，每一个taskId创建一个文件-->
            <appender name="File-${tsCode}" class="ch.qos.logback.core.FileAppender">
                <File>/work/logs/trade/trade/T_${tsCode}.log</File>
                <append>true</append>
                <filter class="ch.qos.logback.classic.filter.LevelFilter">
                    <level>INFO</level>
                    <!--<OnMismatch>DENY</OnMismatch>-->
                    <!--<OnMatch>ACCEPT</OnMatch>-->
                </filter>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!--日志文件输出的文件名-->
                    <fileNamePattern>/work/logs/trade/trade/T_${tsCode}_%d{yyyy-MM-dd}.log</fileNamePattern>
                    <maxHistory>7</maxHistory>
                </rollingPolicy>
                <encoder>
                    <pattern>${DEFAULT_LOG_PATTERN}</pattern>
                    <charset>UTF-8</charset>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="todayTrade" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>tsCode</key>
            <defaultValue>default</defaultValue>
        </discriminator>
        <sift>
            <!--具体的写日志appender，每一个taskId创建一个文件-->
            <appender name="File-${tsCode}" class="ch.qos.logback.core.FileAppender">
                <File>/work/logs/trade/todayTrade/TD_${tsCode}.log</File>
                <append>true</append>
                <filter class="ch.qos.logback.classic.filter.LevelFilter">
                    <level>INFO</level>
                    <!--<OnMismatch>DENY</OnMismatch>-->
                    <!--<OnMatch>ACCEPT</OnMatch>-->
                </filter>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!--日志文件输出的文件名-->
                    <fileNamePattern>/work/logs/trade/todayTrade/TD_${tsCode}_%d{yyyy-MM-dd}.log</fileNamePattern>
                    <maxHistory>7</maxHistory>
                </rollingPolicy>
                <encoder>
                    <pattern>${DEFAULT_LOG_PATTERN}</pattern>
                    <charset>UTF-8</charset>
                </encoder>
            </appender>
        </sift>
    </appender>


    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="rollingFile"/>
    </root>

    <logger name="trade" level="INFO" additivity="false">
        <appender-ref ref="trade"/>
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="todayTrade" level="INFO" additivity="false">
        <appender-ref ref="todayTrade"/>
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="asset" level="INFO" additivity="false">
        <appender-ref ref="asset"/>
        <appender-ref ref="STDOUT" />
    </logger>
</configuration>